.bg-img {
    /* The image used */
    background-image: url("../img/form-back.png");  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */

  .container-form {
    position: absolute;
    margin: 20px;
    right: 0;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    animation: move 5s ease-in;
}
@keyframes move {
    0%   { right:0px}
    25%  { right:800px;transform: rotate(180deg);}
    100% { right:0px; }
  }
  
  /* Full-width input fields */
  input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    animation: btn-grow 1.8s infinite ease-in alternate;

  }
  
  .btn:hover {
    opacity: 1;
  }
  @keyframes btn-grow{
    from{
        background-color: #4CAF50;
        transform:scale(0.9);
    }
    to{
        background-color: aqua;
        transform:scale(1);
    }
  }